.profile{
    height: 100%;
    width:  440px;
    margin-left: 35px;
    padding-top: 10px;
    &__form{
        margin-bottom: 10px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px
    }
    &__container{
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 8px;
        padding: 10px 12px;
        margin-bottom: 10px;
    }
    &__titleItems{
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 9px;
        margin-top: 10px;
        margin-bottom: 3px;
        color: #000000;
    }
    &__input{
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        padding: 5px 10px;
        width: 210px;
    }
    &__textarea{
        width: 420px;
        height: 55px;
        resize: vertical;
    }
    &__submit{
        float: right;
        color: #FFFFFF;
        background: #52CF4F;
        border-radius: 5px;
        padding: 5px 8px 5px 15px;
    }
}

.redBorder{
    border: red 1px solid;
    border-radius: 8px;
}

button[disabled=disabled], button:disabled {
    background: #AFAFAF;
}