.profile{
    height: 100%;
    width:  440px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 16px;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__container{
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 8px;
        padding: 10px 12px;
    }
    &__titleItems{
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 9px;
        margin-top: 10px;
        margin-bottom: 3px;
        color: #000000;
    }
    &__input{
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        padding: 5px 10px;
    }
}

.redBorder{
    border: red 1px solid;
    border-radius: 8px;
}